@functions {
	public string getClass(string ctr, string act)
	{
		var ctrName = ViewContext.RouteData.Values["controller"]?.ToString();
		var actName = ViewContext.RouteData.Values["action"]?.ToString();
		if (ctrName == ctr && actName == act) return "active";
		else return "";
	}
	public string getUrlx(){
		return "https://localhost:7072/api/";
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"] - RFID P2P3</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="~/css/Main.css"/>

	<script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
	<script src="~/js/jspdf.debug.js"></script>
	<script src="~/js/jquery.qrcode.min.js"></script>

	<link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
	
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/js/bootstrap.bundle.min.js" />

	<link rel="stylesheet" href="~/lib/KendoUI/styles/kendo.common.min.css" />
	<link rel="stylesheet" href="~/lib/KendoUI/styles/kendo.default.min.css" />
	<script src="~/lib/KendoUI/js/kendo.all.min.js"></script>

	<script src="~/lib/jszip/jszip.min.js"></script>

	<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
	
	<link rel="stylesheet" href="~/css/Material-Icons.css" />
	<link rel="icon" href="~/img/icon.png" />

</head>

<body>
	<div id="base">
		<div id="content">
			@RenderBody()
		</div>
		<div class="banner"><button id="test" style="background:none;outline:none;border:none;margin-top:30px;margin-left:30px"><i class="material-icons">menu</i></button></div>
		
		<div id="mySidebar" class="sidebar" style="width:0px">
			
			<button class="collapsible">
				<i class="material-icons">
					<img src="~/img/icon.png" width="25px" height="25px" />
				</i>
				<div class="flex-inline flexstart"><div class="username"><b>@Context.Session.GetString("PIC_Name")</b></div></div>
			</button>
			<div class="contentz-user">
				@if(Context.Session.GetString("read_password") == "True")
				{
					<div class="rounded">
						<a asp-controller="Security" asp-action="Index" class="@getClass("Security", "Index")">
							<span class="icon-text">&nbsp;Security</span>
						</a>
					</div>
				}
				<div class="rounded">
					<a class="red" asp-controller="Login" asp-action="Logout">
						<span class="icon-text">&nbsp;Log Out</span>
					</a>
				</div>
			</div>

			<div class="padding">
				<hr>
			</div>

			<button>
				<a asp-controller="Home" asp-action="Index" class="@getClass("Home", "Index")">
					<i class="material-icons">cottage</i>
					<span class="icon-text"><b>Home</b></span>
				</a>
			</button>

			@if (Context.Session.GetString("read_master_user_group") == "True" ||
					Context.Session.GetString("read_master_user_priv") == "True" ||
					Context.Session.GetString("read_master_user") == "True"||
					Context.Session.GetString("read_master_part") == "True"||
					Context.Session.GetString("read_master_plant") == "True"||
					Context.Session.GetString("read_master_gedung") == "True"||
					Context.Session.GetString("read_master_line") == "True"||
					Context.Session.GetString("read_master_shift") == "True"||
					Context.Session.GetString("read_master_pallet") == "True"||
					Context.Session.GetString("read_master_gi_p2") == "True"||
					Context.Session.GetString("read_master_gi_p3") == "True"||
					Context.Session.GetString("read_master_department") == "True"||
					Context.Session.GetString("read_master_section") == "True"||
					Context.Session.GetString("read_master_shop") == "True")
			{
				<button class="collapsible">
					<a id="master">
						<i class="material-icons">ballot</i>
						<span class="icon-text"><b>Master</b></span>
					</a>
				</button>
				<div class="contentz">
					@if (Context.Session.GetString("read_master_user_group") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterUserGroup" class="@getClass("Master", "MasterUserGroup")">
								<span class="icon-text">&nbsp;Master User Group</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_user_priv") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterPrivilege" class="@getClass("Master", "MasterPrivilege")">
								<span class="icon-text">&nbsp;Master Privilege</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_user") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterUser" class="@getClass("Master", "MasterUser")">
								<span class="icon-text">&nbsp;Master User</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_plant") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterPlant" class="@getClass("Master", "MasterPlant")">
								<span class="icon-text">&nbsp;Master Plant</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_gedung") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterGedung" class="@getClass("Master", "MasterGedung")">
								<span class="icon-text">&nbsp;Master Gedung</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_line") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterLine" class="@getClass("Master", "MasterLine")">
								<span class="icon-text">&nbsp;Master Line</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_shop") == "True")
					{
						<div class="rounded">
						<a asp-controller="Master" asp-action="MasterShop" class="@getClass("Master", "MasterShop")">
								<span class="icon-text">&nbsp;Master Shop</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_department") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterDepartment" class="@getClass("Master", "MasterDepartment")">
								<span class="icon-text">&nbsp;Master Department</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_section") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterSection" class="@getClass("Master", "MasterSection")">
								<span class="icon-text">&nbsp;Master Section</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_shift") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterShift" class="@getClass("Master", "MasterShift")">
								<span class="icon-text">&nbsp;Master Shift</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_pallet") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterPallet" class="@getClass("Master", "MasterPallet")">
								<span class="icon-text">&nbsp;Master Pallet</span>
							</a>
						</div>
				}
				@if (Context.Session.GetString("read_master_part") == "True")
				{
					<div class="rounded">
						<a asp-controller="Master" asp-action="MasterPart" class="@getClass("Master", "MasterPart")">
							<span class="icon-text">&nbsp;Master Material</span>
						</a>
					</div>
				}
					@if (Context.Session.GetString("read_master_gi_p2") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterGIP2" class="@getClass("Master", "MasterGIP2")">
								<span class="icon-text">&nbsp;Master GI P2</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_gi_p3") == "True")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterGIP3" class="@getClass("Master", "MasterGIP3")">
								<span class="icon-text">&nbsp;Master GI P3</span>
							</a>
						</div>
					}				 
				</div>
			}
			@if (Context.Session.GetString("read_report") == "True"){
				<button class="collapsible">
					<a id="report">
						<i class="material-icons">report</i>
						<span class="icon-text"><b>Report</b></span>
					</a>
				</button>
				<div class="contenreport" style="margin-left:90px">
					@if (Context.Session.GetString("read_report") == "True")
					{
						<div class="rounded">
							<a asp-controller="Report" asp-action="Report" class="@getClass("Report", "Report")">
								<span class="icon-text">&nbsp;Report</span>
							</a>
						</div>

					}
				</div>
				@*
				<div class="contenreport" style="margin-left:90px">
					@if (Context.Session.GetString("read_AndonBufferStock") == "True")
					{
						<div class="rounded">
							<a asp-controller="Report" asp-action="AndonBufferStock" class="@getClass("Report", "AndonBufferStock")">
								<span class="icon-text">&nbsp;Andon Buffer Stock</span>
							</a>
						</div>

					}
				</div>
				<div class="contenreport" style="margin-left:90px">
					@if (Context.Session.GetString("read_UploadGR") == "True")
					{
						<div class="rounded">
							<a asp-controller="Report" asp-action="UploadGR" class="@getClass("Report", "UploadGR")">
								<span class="icon-text">&nbsp;Upload GR</span>
							</a>
						</div>

					}
				</div>*@
			}
			<div class="padding">
			</div>	
		</div>
	</div>

	@await RenderSectionAsync("Scripts", required: false)
</body>

<script>
	var openMenuProfile = "no";
	var openMenu = "no";
	var open = false;
	/*
	//sidebar
	document.getElementById("mySidebar").addEventListener("mouseover", function () {
		document.getElementById("mySidebar").style.width = "270px";
		document.getElementById("content").style.marginLeft = "270px";

		var iconText = document.getElementsByClassName("icon-text");

        for (var i = 0; i < iconText.length; i += 1) {
			iconText[i].style.display = 'inline';
		}

		var active;
		
        if (window.location.pathname.toString().includes("Master")) {
            active = document.getElementsByClassName("active")[1];
            active.style.transform = "translateX(-20px)";
            active.style.paddingLeft = "20px";
        } else if (window.location.pathname.toString().includes("Security")) { 
			active = document.getElementsByClassName("active")[0];
			active.style.transform = "translateX(-20px)";
			active.style.paddingLeft= "20px";
		}else if (window.location.pathname.toString().includes("Report")) { 
			active = document.getElementsByClassName("active")[2];
			active.style.transform = "translateX(-20px)";
			active.style.paddingLeft= "20px";
		} else {
			active = document.getElementsByClassName("active")[0];
			active.style.transform = "translateX(-50px)";
			active.style.paddingLeft= "42px";
		}

		active.style.paddingRight = "230px";
		
		var contentz = document.getElementsByClassName("contentz");
        for (var i = 0; i < contentz.length; i += 1) {
			if(openMenu == "yes"){
				contentz[i].style.display = 'block';	
			}
		}
	
		var contentzUser = document.getElementsByClassName("contentz-user");
		for (var i=0;i<contentzUser.length;i+=1){
			if(openMenuProfile == "yes"){
				contentzUser[i].style.display = 'block';	
			} 	
		}
	});
	
	document.getElementById("mySidebar").addEventListener("mouseout", function () {
		document.getElementById("mySidebar").style.width = "90px";
		document.getElementById("content").style.marginLeft = "90px";

		var iconText = document.getElementsByClassName("icon-text");

		for (var i=0;i<iconText.length;i+=1){
			iconText[i].style.display = 'none';
		}

		var active;
		
		if(window.location.pathname.toString().includes("Master")){
			//active = document.getElementsByClassName("active")[1];
			var contentz = document.getElementsByClassName("contentz");
			
			for (var i=0;i<contentz.length;i+=1){
				contentz[i].style.display = 'none';
			}
		} else if(window.location.pathname.toString().includes("Security")){
			 active = document.getElementsByClassName("active")[0];
			 var contentzUser = document.getElementsByClassName("contentz-user");
			 contentzUser[0].style.display = 'none';
		}

		//active.style.paddingRight = "0px";
		//active.style.transform = "translateX(80px)";
		//active.style.paddingLeft= "0px";
	});*/
	document.getElementById("test").addEventListener("click", myFunction);

	function myFunction() {

		if(open == false){
			open = true;
			document.getElementById("mySidebar").style.width = "270px";
			document.getElementById("content").style.marginLeft = "270px";

			var iconText = document.getElementsByClassName("icon-text");

			for (var i = 0; i < iconText.length; i += 1) {
				iconText[i].style.display = 'inline';
			}

			var active;

			if (window.location.pathname.toString().includes("Master")) {
				active = document.getElementsByClassName("active")[1];
				active.style.transform = "translateX(-20px)";
				active.style.paddingLeft = "20px";
			} else if (window.location.pathname.toString().includes("Security")) {
				active = document.getElementsByClassName("active")[0];
				active.style.transform = "translateX(-20px)";
				active.style.paddingLeft = "20px";
			} else if (window.location.pathname.toString().includes("Report")) {
				active = document.getElementsByClassName("active")[2];
				active.style.transform = "translateX(-20px)";
				active.style.paddingLeft = "20px";
			} else {
				active = document.getElementsByClassName("active")[0];
				active.style.transform = "translateX(-50px)";
				active.style.paddingLeft = "42px";
			}

			active.style.paddingRight = "230px";

			var contentz = document.getElementsByClassName("contentz");
			for (var i = 0; i < contentz.length; i += 1) {
				if (openMenu == "yes") {
					contentz[i].style.display = 'block';
				}
			}

			var contentzUser = document.getElementsByClassName("contentz-user");
			for (var i = 0; i < contentzUser.length; i += 1) {
				if (openMenuProfile == "yes") {
					contentzUser[i].style.display = 'block';
				}
			}
		} else if(open == true){
			open = false;

			document.getElementById("mySidebar").style.width = "0px";
			document.getElementById("content").style.marginLeft = "90px";

			var iconText = document.getElementsByClassName("icon-text");

			for (var i = 0; i < iconText.length; i += 1) {
				iconText[i].style.display = 'none';
			}

			var active;

			if (window.location.pathname.toString().includes("Master")) {
				//active = document.getElementsByClassName("active")[1];
				var contentz = document.getElementsByClassName("contentz");

				for (var i = 0; i < contentz.length; i += 1) {
					contentz[i].style.display = 'none';
				}
			} else if (window.location.pathname.toString().includes("Security")) {
				active = document.getElementsByClassName("active")[0];
				var contentzUser = document.getElementsByClassName("contentz-user");
				contentzUser[0].style.display = 'none';
			}

			//active.style.paddingRight = "0px";
			//active.style.transform = "translateX(80px)";
			//active.style.paddingLeft= "0px";
		}
		
	}

	//colapse
	var coll = document.getElementsByClassName("collapsible");
	var i;

	if (window.location.pathname.toString().includes("Master")) {
		var masterButton = document.getElementById("master");
		masterButton.classList.add("active");

		var master = document.getElementsByClassName("contentz");
		for (var i = 0; i < master.length; i += 1) {
			master[i].style.display = 'none';
			openMenu = "no";
		}
	}

	if (window.location.pathname.toString().includes("Security")) {
		var master = document.getElementsByClassName("contentz-user");
		for (var i = 0; i < master.length; i += 1) {
			master[i].style.display = 'none';
			openMenuProfile = "no";
		}
	}

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
				content.style.display = "none";
				openMenu = "no";
			} else {
				content.style.display = "block";
				openMenu = "no";
			}
		});
	}
</script>
</html>
