@functions {
	public string getClass(string ctr, string act)
	{
		var ctrName = ViewContext.RouteData.Values["controller"]?.ToString();
		var actName = ViewContext.RouteData.Values["action"]?.ToString();
		if (ctrName == ctr && actName == act) return "active";
		else return "";
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"] - RFID P2P3</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="~/css/Main.css"/>

	<script src="~/lib/jquery/jquery-3.6.0.min.js"></script>

	<link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
	
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/js/bootstrap.bundle.min.js" />

	<link rel="stylesheet" href="~/lib/KendoUI/styles/kendo.common.min.css" />
	<link rel="stylesheet" href="~/lib/KendoUI/styles/kendo.default.min.css" />
	<script src="~/lib/KendoUI/js/kendo.all.min.js"></script>

	<script src="~/lib/jszip/jszip.min.js"></script>

	<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
	
	<link rel="stylesheet" href="~/css/Material-Icons.css" />
	<link rel="icon" href="~/img/icon.png" />
</head>

<body>
	<div id="base">
		<div id="content">
			@RenderBody()
		</div>
		<div class="banner"></div>
		<div id="mySidebar" class="sidebar">
			<button class="collapsible">
				<i class="material-icons">
					<img src="~/img/icon.png" width="25px" height="25px" />
				</i>
				<div class="flex-inline flexstart"><div class="username"><b>@Context.Session.GetString("PIC_Name")</b></div></div>
			</button>
			<div class="contentz-user">
				@if(Context.Session.GetString("read_password") == "1")
				{
					<div class="rounded">
						<a asp-controller="Security" asp-action="Index" class="@getClass("Security", "Index")">
							<span class="icon-text">&nbsp;Security</span>
						</a>
					</div>
				}
				<div class="rounded">
					<a class="red" asp-controller="Login" asp-action="Logout">
						<span class="icon-text">&nbsp;Log Out</span>
					</a>
				</div>
			</div>

			<div class="padding">
				<hr>
			</div>

			<button>
				<a asp-controller="Home" asp-action="Index" class="@getClass("Home", "Index")">
					<i class="material-icons">cottage</i>
					<span class="icon-text"><b>Home</b></span>
				</a>
			</button>

			@if (Context.Session.GetString("read_master_user_group") == "1" ||
					Context.Session.GetString("read_master_user_priv") == "1" ||
					Context.Session.GetString("read_master_user") == "1" ||
					Context.Session.GetString("read_master_shop") == "1" ||
					Context.Session.GetString("read_master_gate_group") == "1" ||
					Context.Session.GetString("read_master_gate") == "1" ||
					Context.Session.GetString("read_master_area") == "1" ||
					Context.Session.GetString("read_master_supplier") == "1" ||
					Context.Session.GetString("read_master_box_type") == "1" ||
					Context.Session.GetString("read_master_rfid") == "1" ||
					Context.Session.GetString("read_master_transporter") == "1" ||
					Context.Session.GetString("read_master_news") == "1")
			{
				<button class="collapsible">
					<a id="master">
						<i class="material-icons">ballot</i>
						<span class="icon-text"><b>Master</b></span>
					</a>
				</button>
				<div class="contentz">
					@if (Context.Session.GetString("read_master_user_group") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterUserGroup" class="@getClass("Master", "MasterUserGroup")">
								<span class="icon-text">&nbsp;Master User Group</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_user_priv") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterPrivilege" class="@getClass("Master", "MasterPrivilege")">
								<span class="icon-text">&nbsp;Master Privilege</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_user") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterUser" class="@getClass("Master", "MasterUser")">
								<span class="icon-text">&nbsp;Master User</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_shop") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterShop" class="@getClass("Master", "MasterShop")">
								<span class="icon-text">&nbsp;Master Shop</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_gate_group") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterGateGroup" class="@getClass("Master", "MasterGateGroup")">
								<span class="icon-text">&nbsp;Master Gate Group</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_gate") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterGate" class="@getClass("Master", "MasterGate")">
								<span class="icon-text">&nbsp;Master Gate</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_area") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterArea" class="@getClass("Master", "MasterArea")">
								<span class="icon-text">&nbsp;Master Area</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_supplier") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterSupplier" class="@getClass("Master", "MasterSupplier")">
								<span class="icon-text">&nbsp;Master Supplier</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_box_type") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterBoxType" class="@getClass("Master", "MasterBoxType")">
								<span class="icon-text">&nbsp;Master Box Type</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_rfid") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterRFID" class="@getClass("Master", "MasterRFID")">
								<span class="icon-text">&nbsp;Master RFID</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_transporter") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterTransporter" class="@getClass("Master", "MasterTransporter")">
								<span class="icon-text">&nbsp;Master Transporter</span>
							</a>
						</div>
					}
					@if (Context.Session.GetString("read_master_news") == "1")
					{
						<div class="rounded">
							<a asp-controller="Master" asp-action="MasterNews" class="@getClass("Master", "MasterNews")">
								<span class="icon-text">&nbsp;Master News</span>
							</a>
						</div>
					}
				</div>
			}
			<div class="padding">
			</div>	
		</div>
	</div>

	@await RenderSectionAsync("Scripts", required: false)
</body>

<script>
	var openMenuProfile = "no";
	var openMenu = "no";

	//sidebar
	document.getElementById("mySidebar").addEventListener("mouseover", function () {
		document.getElementById("mySidebar").style.width = "270px";
		document.getElementById("content").style.marginLeft = "270px";

		var iconText = document.getElementsByClassName("icon-text");

        for (var i = 0; i < iconText.length; i += 1) {
			iconText[i].style.display = 'inline';
		}

		var active;
		
        if (window.location.pathname.toString().includes("Master")) {
            active = document.getElementsByClassName("active")[1];
            active.style.transform = "translateX(-20px)";
            active.style.paddingLeft = "20px";
        } else if (window.location.pathname.toString().includes("Security")) { 
			active = document.getElementsByClassName("active")[0];
			active.style.transform = "translateX(-20px)";
			active.style.paddingLeft= "20px";
		} else {
			active = document.getElementsByClassName("active")[0];
			active.style.transform = "translateX(-50px)";
			active.style.paddingLeft= "42px";
		}

		active.style.paddingRight = "230px";
		
		var contentz = document.getElementsByClassName("contentz");
        for (var i = 0; i < contentz.length; i += 1) {
			if(openMenu == "yes"){
				contentz[i].style.display = 'block';	
			}
		}
	
		var contentzUser = document.getElementsByClassName("contentz-user");
		for (var i=0;i<contentzUser.length;i+=1){
			if(openMenuProfile == "yes"){
				contentzUser[i].style.display = 'block';	
			} 	
		}
	});

	document.getElementById("mySidebar").addEventListener("mouseout", function () {
		document.getElementById("mySidebar").style.width = "90px";
		document.getElementById("content").style.marginLeft = "90px";

		var iconText = document.getElementsByClassName("icon-text");

		for (var i=0;i<iconText.length;i+=1){
			iconText[i].style.display = 'none';
		}

		var active;
		
		if(window.location.pathname.toString().includes("Master")){
			active = document.getElementsByClassName("active")[1];
			var contentz = document.getElementsByClassName("contentz");
			for (var i=0;i<contentz.length;i+=1){
				contentz[i].style.display = 'none';
			}
		} else if(window.location.pathname.toString().includes("Security")){
			 active = document.getElementsByClassName("active")[0];
			 var contentzUser = document.getElementsByClassName("contentz-user");
			 contentzUser[0].style.display = 'none';
		}

		active.style.paddingRight = "0px";
		active.style.transform = "translateX(-10px)";
		active.style.paddingLeft= "0px";
	});

	//colapse
	var coll = document.getElementsByClassName("collapsible");
	var i;

	if (window.location.pathname.toString().includes("Master")) {
		var masterButton = document.getElementById("master");
		masterButton.classList.add("active");

		var master = document.getElementsByClassName("contentz");
		for (var i = 0; i < master.length; i += 1) {
			master[i].style.display = 'none';
			openMenu = "yes";
		}
	}

	if (window.location.pathname.toString().includes("Security")) {
		var master = document.getElementsByClassName("contentz-user");
		for (var i = 0; i < master.length; i += 1) {
			master[i].style.display = 'none';
			openMenuProfile = "yes";
		}
	}

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
				content.style.display = "none";
				openMenu = "no";
			} else {
				content.style.display = "block";
				openMenu = "yes";
			}
		});
	}
</script>
</html>
